{% load blog_tags %}
{% for article in articles %}
    <article>
        <header>
            <hgroup>
                <a href="{{ article.get_absolute_url }}">
                    <h2>{{ article.title }}</h2>
                </a>
                <p>
                    <span>{{ article.author.name }}</span> - <span>{{ article.created_at|date:"F d, Y" }}</span>
                </p>
            </hgroup>
        </header>
        <section>
            {{ article.content|markdown }}
        </section>
        <footer>
            {% include 'blog/includes/tags.html' with tags=article.tags.all %}
        </footer>
    </article>
{% endfor %}
