{% extends 'blog/base.html' %}
{% block title %}
    {{ article.title }}
{% endblock title %}
{% block main-content %}
    <article>
        <header>
            <hgroup>
                <h1>{{ article.title }}</h1>
                <address>
                    <p>{{ article.author.name }}</p>
                </address>
            </hgroup>
        </header>
        <p>{{ article.content }}</p>
        <footer>
            {% include 'blog/includes/tags.html' with tags=article.tags.all %}
        </footer>
    </article>
{% endblock main-content %}
