{% extends 'blog/base.html' %}
{% block title %}
    {{ article.title }}
{% endblock title %}
{% block main-content %}
    <article>
        <header>
            <h1>{{ article.title }}</h1>
        </header>
        <p>{{ article.content }}</p>
        <footer>
            <h3>Tags:</h3>
            <ul>
                {% for tag in article.tags.all %}
                    <li>
                        <a href="">{{ tag.name }}</a>
                    </li>
                {% endfor %}
            </ul>
        </footer>
    </article>
{% endblock main-content %}
