{% load static blog_tags %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>
            {% block title %}
                Blog
            {% endblock title %}
        </title>
        <link rel="stylesheet" href="{% static 'css/pico.pumpkin.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
    </head>
    <body class="container">
        {% block header %}
            <header>
                {% nav_bar %}
            </header>
        {% endblock header %}
        <div class="main-aside">
            <main>
                {% block main-content %}
                {% endblock main-content %}
            </main>
            {% block aside %}
            {% endblock aside %}
        </div>
        <footer>
            {% block footer %}
            {% endblock footer %}
        </footer>
    </body>
</html>
