{% load static nav %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>
            {% block title %}
                Blog
            {% endblock title %}
        </title>
        <link rel="stylesheet" href="{% static 'css/pico.pumpkin.min.css' %}">
    </head>
    <body>
        {% block header %}
            <header class="container">
                {% nav_bar %}
            </header>
        {% endblock header %}
        <main class="container">
            {% block main-content %}
            {% endblock main-content %}
        </main>
    </body>
</html>
