{% extends 'blog/base.html' %}
{% block main-content %}
    <h1>All Articles</h1>
    <hr>
    {% for article in articles %}
        <article>
            <header>
                <a href="{{ article.get_absolute_url }}">
                    <h2>{{ article.title }}</h2>
                </a>
            </header>
            <p>{{ article.content }}</p>
            <footer>
                <h3>Tags:</h3>
                <ul>
                    {% for tag in article.tags.all %}
                        <li>
                            <a href="">{{ tag.name }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </footer>
        </article>
    {% endfor %}
{% endblock main-content %}
